$primary-color: #ed5a6b;
$light-color: #f2f2f2;
$dark-color: #000;
$light-gray: #ccc;
$very-light-gray: #f8f8f8;
$yellow-color: #e16120;
$success-color: #d4edda;
$danger-color: #f8d7da;
$danger-pure: #dc3545;
$info-pure: #17a2b8;
