@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 1rem;
	line-height: 1.6;
}

body {
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	background-color: $light-color;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: $dark-color;
}

img {
	width: 100%;
	object-fit: cover;
}

i {
	color: $yellow-color;
}
